# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
.webassets-cache

# C#
bin/
obj/
*.exe
*.dll
*.pdb

# Docker
*.env
docker-compose.override.yml

# General
*.log
*.DS_Store
Thumbs.db

# VS Code
.vscode/

# Database dumps
*.sql

# Images
*.png
*.jpg
*.jpeg

# Misc
node_modules/
